@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

body, label, .checkbox label {
	font-weight: 300;
}

a, a:link, a:visited, a:hover, a:active {
	text-decoration:none;
	color: #FEFEFE;
}

content {
	margin: 25px auto;
	padding: 5px;
	width: 860px;
}

.title {
	font-size: 5em;
}

.row {
	margin: 25px 10px;
}

#entryinput {
	width: 50%;
}

li {
	font-size: 3em;
}

.gray {
	color: #7A7A7A;
}

.translate_up {
	position: relative;
	top: -35px;
}

.medtext {
	font-size: .8em;
	display: block
}

.smalltext {
	font-size: .4em;
}

